@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;500;700&family=Markazi+Text:wght@400;500&display=swap');

* {
  font-family: 'Karla', sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 20%;
}

header img {
  max-height: 40px;
}

header ul {
  display: flex;
  justify-content: space-between;
  gap: 60px;
}

nav ul {
  padding: 0;
}

nav li {
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

section {
  padding: 0 20%;
}

footer {
  display: flex;
  justify-content: space-between;
  padding: 24px 20%;
}

footer img {
  max-height: 240px;
}
